@import "tailwindcss";

@theme {
  --color-footy-green: #005031;
  --color-footy-orange: #F47322;
  --color-footy-white: #FFFFFF;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --footy-green: #005031;
  --footy-orange: #F47322;
  --footy-white: #FFFFFF;
}

body {
  background: #ffffff;
  color: #005031;
  font-family: Arial, Helvetica, sans-serif;
}
